<h1>Extraction des données terminée</h1>
<p>La donnée à été correctement sauvegardé dans un CSV</p>
<a href="/download" class="button" download>Télécharger le CSV</a>
<a href="/" class="button secondary">Extraire de nouvelles données</a>