@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --grey: #3a3a3b;
    --blue: #3d7786;
    --dark-blue: #18404a;
}
#logo{
    width: 100px;
}

body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin-top: 0;
}
p{
    margin-bottom: 2rem;
}

.container{
    width: 60%;
    margin: 2rem auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
        display: flex;
        flex-direction: column;
    }

label{
    font-weight: 700;
    color: var(--grey);
}

.button{
    background: var(--blue);
    border: none;
    color: white;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: 20px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
        background: var(--dark-blue);
    }

.button.secondary{
        border: 1px solid var(--blue);
        color: var(--dark-blue);
        background: #ffffff;
    }

input, textarea{
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
}